In [11]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint

### Extract CSVs into DataFrames

In [12]:

retail_df = "retail.csv"
retail_df = pd.read_csv(retail_df, on_bad_lines='skip', encoding='Latin-1')
retail_df.head(50)

    
retail_df.head()

,ï»¿InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2010 8:26,3.39,17850.0,United Kingdom

In [20]:
retail1_df = retail_df.rename(columns={'ï»¿InvoiceNo': 'InvoiceNo'})
retail1_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2010 8:26,3.39,17850.0,United Kingdom

In [21]:
retail1_df.columns= retail1_df.columns.str.lower()
for col in retail1_df.columns:
    print(col)

invoiceno
stockcode
description
quantity
invoicedate
unitprice
customerid
country

In [26]:
#Transforming the data to Postgres 
rds_connection_string = "postgres:postgres@localhost:5432/Retail_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

/var/folders/w0/dyll3qjj14n0d4qd0jv9g_4w0000gn/T/ipykernel_62896/1376021595.py:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['retail_info', 'retail_table', 'cohort']

In [27]:
#connect table to postgres
retail1_df.to_sql(name='retail_info', con=engine, if_exists='append', index=False)
engine.table_names()

/var/folders/w0/dyll3qjj14n0d4qd0jv9g_4w0000gn/T/ipykernel_62896/673980359.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['retail_info', 'retail_info2', 'retail_table', 'cohort']

In [28]:
#testing the table after connecting to ensure connection worked
pd.read_sql_query('select * from retail_info', con=engine).head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2010 8:26,3.39,17850.0,United Kingdom